<h1>Look at all the sleeping kittens</h1>
<p>they're so tired</p>

<img class="img-responsive" src="<%= image_path "handsupkitten.jpg" %>"/>
<img class="img-responsive" src="<%= image_path "bundledkitten.jpg" %>"/>
<img class="img-responsive" src="<%= image_path "nuzzlekitten.jpg" %>"/>