<h1>Look at all the sleeping kittens</h1>

<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "handsupkitten.jpg" %>"/>
</div>
</div>

<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "bundledkitten.jpg" %>"/>
</div>
</div>

<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "nuzzlekitten.jpg" %>"/>
</div>
</div>