<h1>Look at all the sleeping kittens</h1>

<p>
<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "handsupkitten.jpg" %>"/>
</div>
</div>
</p>

<p>
<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "bundledkitten.jpg" %>"/>
</div>
</div>
</p>

<p>
<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "nuzzlekitten.jpg" %>"/>
</div>
</div>
</p>

<div class="list of kittens">
<table class="table table-striped" "table table-bordered" border="1" style="width:300px">
	<thead>
		<tr>
			<th>#</th>
			<th>Name of Kitten</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
	  		<td>hands up kitten</td>
		</tr>
		<tr>
			<td>2</td>
	  		<td>bundled kitten</td>
		</tr>
		<tr>
			<td>3</td>
	  		<td>sneezing kitten</td>
		</tr>
	</tbody>
</table>
</div>