<h1>Look at all the sleeping kittens</h1>

<p>
<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "handsupkitten.jpg" %>"/>
</div>
</div>
</p>

<p>
<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "bundledkitten.jpg" %>"/>
</div>
</div>
</p>

<p>
<div class="row">
	<div class="col-md-6">
<img class="img-responsive" src="<%= image_path "nuzzlekitten.jpg" %>"/>
</div>
</div>
</p>

<table style="width:300px">
<tr>
  <td>hands up kitten</td>
  <td>bundled kitten</td> 
  <td>nuzzling kitten</td>
</tr>
</table>